

.center {

  margin: 10px auto 20px;
  display: block;
  


}

<!--horizontal navigation bar-->
ul {
    list-style-type: none;
    margin: ;
    padding: 0;
    overflow: hidden;
  

    
    
}

li {
  display: inline-block; 
 

 
}

li a {
  color: rgb(42, 42, 56);
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 13px;


}

#abt {
  position: absolute; 
  left: 17px; 
  top: 23px; 

}

#str {
  position: absolute; 
  left: 69px; 
  top: 23px; 

}

#gma {
  position: absolute; 
  left: 1170px; 
  top: 23px; 

}

#ima {
  position: absolute; 
  left: 1222px; 
  top: 23px; 

}

#google-apps {
  position: absolute; 
  left: 1290px; 
  top: 25px;
}

#sign-in {
  color: white;
  background-color: #4285f4;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
  border-style: hidden;
  width: 70px;
  height: 31px;
  position: absolute;
  left: 1328px; 
  top: 15px; 
  

}

.signbut:hover{
  box-shadow: 0px .5px 5px rgb(184, 186, 188);
  

}


li a:hover {
  text-decoration: underline;

}


.SearchBar {
  font-size: 16px;
  font-family: "Helvetica";
  border: 1px solid rgb(193, 193, 193);
  border-radius: 2px;
  width: 410px;
  background-color: white;
  color: rgb(5, 5, 5);
  

}

input[type=text] {
  padding: 10px 30px;
  
  
}


.shadow {
 box-shadow: 1px 1px 5px rgb(184, 186, 188);


}

input:hover {
  box-shadow: 2px 2px 5px rgb(184, 186, 188);


}

.search button{
  border-style: hidden;
  border-width: thin;
  color: rgba(0,0,0,.54);
  background:  rgb(239, 239, 237);
  font-size: 12px;
  padding: 8px 14px;
  font-weight: bold;
  margin: 8px 3px 16px 3px;
  

}

.search button:hover {
  border-style: solid;
  border-width: thin;
  margin: 7px 2px 15px 2px;
  color: rgb(0, 0, 0);

}

#centbut {
  text-align: center;
 }


.footer {
  background-color: rgb(239, 239, 237);
  position: fixed;
  bottom: 0;
  left: 0;
  
}

footer {
  display: block;
  width: 100%;
  background-color: rgb(239, 239, 237);
  padding: 22px;
  bottom: 0;
  left: 0;
  position: absolute;


}

.footer a{
  float: left;
  display: block;
  padding: 14px 16px;
  color: rgb(91, 91, 91);
 

}


#adv {
  position: absolute; 
  left: 0px;
  padding:  0px 16px 0px 16px;


}

#bus {
  position: absolute; 
  left: 100px; 


}

#priv {
  position: absolute; 
  left: 1219px; 


}

#term {
  position: absolute; 
  left: 1282px; 

}

#set {
  position: absolute; 
  left: 1345px; 


}
